/* this tell us that the background of all the xp is going to be cream*/
/* we added the important specification because for some reason this command did not overwrite Drummond's one*/
body {
  font-size: 24;
  color: black;
  background-color: #FFFFCC !important;
      margin-left: 0;
}

/* this is for the text in the box */
span.Question-fake-link {
  cursor: pointer;
    font-size: 23;  
    color: black;
  font-weight: bold;
  text-align: center;
vertical-align: middle!important;
}

.Question-question-text {
    margin-left: 0.5em;
  font-size: 20;
     color: black;
     clear: both; 
  font-weight: bold;
  background-color: #FFFFCC; 

}

li.Question-scale-box {
    width: 4em;
    height: 2.9em;
    line-height:2.6em;
    border-radius: 3px;
    padding-top: 0.7em;
    padding-bottom: 0.3em;
    margin-right: 2em;
   background-color: #FFFFCC;
   text-align: center;
 }

/* this is for the labels at the endpoints of acceptability*/
.Question-scale-comment-box {  
  font-size: 16;
   background-color: #FFFFCC;
    font-style: normal;
    
}

p.practice-box {  
  color: #7CCBFF;
    font-size: 20;  
}


.DashedSentence-sentence {  
    font-size: 30; 
font-weight: bold;
     background-color: #FFFFCC !important;
     color: black;
     clear: both;  
    padding-top: 1em;
}

.DashedSentence-sentence .DashedSentence-ospan {  background-color: #FFFFCC !important; }

.Message-continue-link {
    font-size: 20; 
  background-color: #FFFFCC;
     color: black;
     clear: both;  
}

.Separator-next-item-failure-message {
  color: red;
  font-size: 26;
  font-weight: bold ;
}

/* this increase the text of the sentence in an acceptablity judgm experiment */
.FlashSentence-flashed-sentence { 
    font-size: 24;
} 

